page-formations {
img{
    margin-top: 10%;
    height: 100px;
    display: flex;
    justify-content: center;
    border-radius: 8%;
    margin-left: 35%;

}
button{
    justify-content: center;
    display: flex;
}
}
