<!--
  Generated template for the RequestsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Requests</ion-title>
   
  </ion-navbar>

</ion-header>
<ion-content padding> 
  <div class="action_bar">
    <button ion-button icon-only round (click) = "profile()">
      <ion-icon name="person"></ion-icon>
    </button>
    <button ion-button icon-only round (click) = "home()">
      <ion-icon name="home"></ion-icon>
    </button>
    <!-- <button ion-button icon-only round (click) = "torequests()">
      <ion-icon name="star"></ion-icon>
    </button> -->
    <!-- <button ion-button icon-only round (click) = "logout()">
      <ion-icon name="exit"></ion-icon>
    </button> -->
  </div>
  <!-- <ion-slides >
    <ion-slide *ngFor="let Challenge of Challenges">
          <ion-card >
              <img src="assets/fifamatch.png"/><br>
              <h1>{{ Challenge.Challenger }}</h1>
              <img src="{{ teamlogo }}" alt="Arsenal logo">
              <h2>{{ challengerteam}}</h2><br>
              <p>Formation:{{challengerform}}</p>
              <div>
                <button ion-button round>More info</button>
              </div>
              <ion-item *ngIf = " challengerteam !== 'Liverpool'">
              <button ion-button round (click)="accept(Challenge)" >Accept</button>
              
              <button ion-button round (click)="decline(Challenge)">Decline</button>
            </ion-item>
            </ion-card>
    </ion-slide>
  </ion-slides> -->
  <ion-grid>
    <ion-list *ngFor="let Challenge of Challenges">
      <ion-row>
          <ion-col>
            <p>{{Challenge.Challenger}}</p>
          </ion-col>
          <ion-col col-4 >
              <button ion-button round (click)="view(Challenge)" >View</button>
              </ion-col>
      </ion-row>
    </ion-list>
  </ion-grid>
</ion-content>
